<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%t] %-5p - %m --> %l%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="WARN"/>
			<param name="AcceptOnMatch" value="false"/>
		</filter>
	</appender>

	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="WARN"/>
		<param name="target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%t] %-5p - %m --> %l%n"/>
		</layout>
	</appender>

	<!-- MODEL -->
	<logger name="org.microcol.model">
		<level value="INFO"/>
	</logger>

	<!-- GUI -->
	<logger name="org.microcol.gui">
		<level value="INFO"/>
	</logger>
	<logger name="org.microcol.model.store">
		<level value="DEBUG"/>
	</logger>
	<logger name="org.microcol.gui.event.AbstractEventController">
		<level value="WARN"/>
	</logger>
	<logger name="org.microcol.gui.panelview.MoveModeSupport">
		<level value="INFO"/>
	</logger>

	<!-- AI -->
	<logger name="org.microcol.ai">
		<level value="INFO"/>
	</logger>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="stderr"/>
	</root>

</log4j:configuration>
