<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- MODEL -->
	<logger name="org.microcol.model" level="INFO"/>

	<!-- GUI -->
	<logger name="org.microcol.gui" level="INFO"/>
	<logger name="org.microcol.gui.FpsCounter" level="WARN"/>
	<logger name="org.microcol.gui.event.AbstractEventController" level="WARN"/>

	<!-- AI -->
	<logger name="org.microcol.ai" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
