/*
 * JavaFx setting for Colony.
 * 
 */
.label-title {
	-fx-font-size: 32;
	-fx-min-width: 600;
	-fx-translate-x: -90;
	-fx-translate-y: -300;
}

.panel-dock {
	-fx-min-width: 250;
	-fx-max-width: 200;
	-fx-pref-height: 200;
	-fx-max-height: 200;
	-fx-translate-x: -85;
	-fx-translate-y: -89;
}

.panel-dock .ships {
	-fx-pref-height: 50;
	-fx-padding: 0 0 30 0;	
}

.outside{
	-fx-pref-width: 240;
	-fx-max-width: 240;
	-fx-pref-height: 50;
	-fx-max-height: 50;
	-fx-translate-x: 240;
	-fx-translate-y: -170;
}

.colony-structures{
	-fx-max-width: 500;
	-fx-max-height: 323;
	-fx-background-repeat: no-repeat ;
	-fx-translate-x: -140;
	-fx-translate-y: 90;
}

.colony-fields{
	-fx-max-width: 150;
	-fx-max-height: 150;
	-fx-padding: 4 0 0 4;
	-fx-background-image: url("../images/colony-fields.png");
	-fx-background-repeat: no-repeat ;
	-fx-translate-x: 245;
	-fx-translate-y: 10;
}

.building-queue{
	-fx-max-width: 240;
	-fx-max-height: 160;
	-fx-padding: 4 0 0 4;
	-fx-background-image: url("../images/colony-building-queue.png");
	-fx-background-repeat: no-repeat ;
	-fx-translate-x: 280;
	-fx-translate-y: 200;
}

.panel-colony-goods{
	-fx-pref-width: 750;
	-fx-max-width: 750;
	-fx-pref-height: 80;
	-fx-max-height: 80;
	-fx-translate-x: 20;
	-fx-translate-y: 330;
}

.diffPositive {
	-fx-text-fill: green;
	-fx-padding: 0 0 0 0px;
}

.diffNegative {
	-fx-text-fill: red;	
	-fx-padding: 0 0 0 0px;
}
