/*
 * File contains definition of dialogs.
 */

.root{
	-fx-padding: 30 30 15 30;
	-fx-font-family: Tillana;
}

#caption{
	-fx-padding: 0 0 30 0;
}

#buttonPane{
	-fx-padding: 40 0 0 0;
}

.cratePanel{
	-fx-min-width: 49;
	-fx-min-height: 49;
	-fx-padding: 2.0 2.0 2.0 2.0;
}
