/*
 * File contains definition of dialogs.
 */

.root{
	-fx-padding: 30 30 15 30;
	-fx-font-family: Tillana;
}

#caption{
	-fx-padding: 0 0 30 0;
}

#buttonPane{
	-fx-padding: 40 0 0 0;
}

.cratePanel{
	-fx-min-width: 49;
	-fx-min-height: 49;
	-fx-padding: 2.0 2.0 2.0 2.0;
}

.dialog-with-man {
	-fx-min-width: 505;
	-fx-max-width: 505;
	-fx-min-height: 380;
	-fx-max-height: 380;
	-fx-background-image: url("../images/dialog-petr.png");
	-fx-background-repeat: no-repeat ;
}

.dialog-with-man .label{
	-fx-padding: 20 200 20 30
}