/*
 * JavaFx setting for GameMenu.
 * 
 */
 
.main-title {
	-fx-font-size: 32;
	-fx-min-width: 500;
	-fx-min-height: 80;
	-fx-translate-x: -100; 	
	-fx-translate-y: -260;
}

.titled-content {
	-fx-translate-x: -100;
	-fx-translate-y: 20;
	-fx-min-height: 400;
	-fx-min-width: 500;
}

.titled-content .label-slider {
	-fx-padding: 0 20 0 0;
}

.game-menu-inner {
	-fx-spacing: 10;
}
