/*
 * JavaFx setting for GameMenu.
 * 
 */
.main-title {
	-fx-font-size: 32;
	-fx-min-width: 420;
	-fx-min-height: 80;
	-fx-translate-x: -20;
	-fx-translate-y: -260;
}

.titled-content {
	-fx-max-width: 520;
	-fx-max-height: 700;
}

.row {
	-fx-min-height: 45;
	-fx-text-alignment: center;
}

.caption {
	-fx-padding: 0 20 0 0;
}

#buttonPane {
	-fx-padding: 80 0 0 0;
}

.goals-main-panel {
	-fx-translate-x: 30;
	-fx-translate-y: 160;
}
