/*
 * JavaFx setting for whole MicroCol.
 * 
 */
 
/* disable focused border on component */
.scroll-pane:focused {
  -fx-background-color: -fx-focus-color,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: 0.0,0.0,0.0,0.0;
  -fx-background-radius: 0.0;
}

#mainBox{
}

#rightPanel{
}

#canvas{
	-fx-pref-width: 100000;
	-fx-pref-height: 100000;
}

#statusBar #description{
 	-fx-border-style: solid inside;
 	-fx-border-color: lightgrey ;
 	-fx-border-width: 0.0px 1.0px 0.0px 0.0px;
}

#statusBar #description .label{
	-fx-padding: 0 5px 0 5px;
}

#statusBar #labelEra{
	-fx-padding: 0 5px 0 5px;
}



