/*
 * JavaFx setting for whole MicroCol.
 * 
 */
 
/* disable focused border on component */
.scroll-pane:focused {
  -fx-background-color: -fx-focus-color,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: 0.0,0.0,0.0,0.0;
  -fx-background-radius: 0.0;
}

#mainBox{
}

#rightPanel{
}

#canvas{
	-fx-pref-width: 100000;
	-fx-pref-height: 100000;
}

#statusBar #description{
 	-fx-border-style: solid inside;
 	-fx-border-color: lightgrey ;
 	-fx-border-width: 0.0px 1.0px 0.0px 0.0px;
}

#statusBar #description .label{
	-fx-padding: 0 5px 0 5px;
}

.root {
	 -fx-font-family: Cardo;
}

#statusBar #labelGold{
	-fx-padding: 0 5px 0 5px;
 	-fx-border-style: solid inside;
 	-fx-border-color: lightgrey ;
 	-fx-border-width: 0.0px 1.0px 0.0px 0.0px;
}

#statusBar #labelEra{
	-fx-padding: 0 5px 0 5px;
}

/*
 * Titled panel 
 */
.label {
	/**
  -fx-font: 28px Vivaldi;
	 */ 
}

.bordered-titled-title {
  -fx-background-color: lightgrey;
  -fx-translate-y: -13;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 20 15 15 15;
  -fx-background-color: lightgrey;
  -fx-border-color: black;
  -fx-border-width: 1;
}

.bordered-titled-content {
  -fx-padding: 26 10 10 10;
}

/*
 * Ship pane 
 */
.paneShip{
	-fx-fit-to-height: 45px;
	-fx-fit-to-width: 45px;
	-fx-pref-width: 45px;
	-fx-pref-height: 45px;
}
.paneShip:selected{
	-fx-border-color: lightblue ;
	-fx-border-width: 2;
}

/* I don't know if it's not a bug. Popup background is about 100px bigger than real size of menu items.
 * Popup on canvas cover with background surrounding area.
 */
.popup{
  -fx-background-color: rgba(0, 0, 0, 0);
}

.popup .menu-item {
  -fx-background-color: white;	
}

.popup .menu-item:focused {
  -fx-background-color: blue;	
}

.diffPositive {
	-fx-text-fill: green;
	-fx-padding: 0 0 0 5px;
}

.diffNegative {
	-fx-text-fill: red;	
	-fx-padding: 0 0 0 5px;
}



