/*
 * 
 * 
 */

.scroll-pane {
	-fx-fit-to-width: true;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.scroll-pane:focused {
}

.scroll-pane .selected {
	 -fx-background-color: #DADADA;
}

/*
 * I can's set automatically width of button to maximum size. 
 */
#nextTurnButton{
	-fx-min-width: 168px;
}

.unitPanel{
 	-fx-padding: 15px 0 10px 0;
}

