/*
 * JavaFx setting for GameMenu.
 * 
 */
.main-title {
	-fx-font-size: 32;
	-fx-min-width: 420;
	-fx-min-height: 80;
	-fx-translate-x: -20;
	-fx-translate-y: -260;
}

.titled-content {
	-fx-translate-x: -25;
	-fx-translate-y: -10;
	-fx-min-height: 310;
	-fx-min-width: 420;
	-fx-padding: 10;
}

.turnEventPanel .label {
	-fx-max-width: 420;
	-fx-wrap-text: true;
}

.turn-event {
	-fx-translate-x: 15;
	-fx-padding: 5 0 5 0;
}

.turn-event .bullet{
	-fx-min-width: 20;
	-fx-min-height: 20;
	-fx-translate-y: 5;
	-fx-background-image: url('../images/bullet.png');
	-fx-background-repeat: no-repeat;
}

#buttonPane {
	-fx-padding: 80 0 0 0;
}